@media (max-width: 1440px) {
   /* ----------------------- */
   /* header */
   /* ----------------------- */
   /* .header__background{
      height: 1035px;
   }
   .header__top::before{
      width: 580px;
      height: 520px;
      top: -300px;
      left: -300px;
   }
   .header__logo{
      left: 60px;
      top: 15px;
   }
   .header__logo img{
      width: 95px;
      height: 95px;
   }
   .header__list {
      margin-bottom: 190px;
   }
   .header__info{
      margin-left: 149px;
   }
   .header__title {
      font-size: 100px;
      width: 470px;
      margin-bottom: 40px;
   }
   .header__subtitle {
      font-size: 22px;
      width: 540px;
      margin-bottom: 63px;
   }
   .header__social{
      left: 69px;
      top: 660px;
   }
   .header__info .child{
      width: 541px;
      height: 659px;
      left: 775px;
      top: 177px;
   }
   .header__figure img:nth-child(1){
      width: 79.61px;
      height: 77.77px;
      left: 151px;
      top: 199px;
   }
   .header__figure img:nth-child(2){
      width: 81.61px;
      height: 79.72px;
      left: 1312.97px;
      top: 194.23px;
   }
   .header__figure img:nth-child(3){
      width: 111.15px;
      height: 108.57px;
      left: 405.45px;
      top: 859.55px;
   }
   .header__figure img:nth-child(4){
      width: 98.39px;
      height: 96.11px;
      left: 1323.82px;
      top: 548px;
   } */

   /* ----------------------- */
   /* advantages */
   /* ----------------------- */
   .container{
      margin: 0 60px;
   }
   .advantages__title {
      font-size: 90px;
      line-height: 90px;
      padding: 120px 0 40px;
      width: 415px;
   }
   .advantages__item:nth-child(1){
      top: 0px;
      left: 648px;
   }
   .advantages__item:nth-child(2){
      top: 121px;
      left: 994px;
   }
   .advantages__item:nth-child(3){
      top: 347px;
      left: 568px;
   }
   .advantages__item:nth-child(4){
      top: 467px;
      left: 914px;
   }
   .advantages__figure img:nth-child(1){
      height: 78px;
      width: 79px;
      top: -40px;
      left: 1018px;
   }
   .advantages__figure img:nth-child(2){
      height: 70px;
      width: 72px;
      left: 769px;
      top: 815px;
   }
}

@media (max-width: 768px) {
   /* ----------------------- */
   /* header */
   /* ----------------------- */
   /* .header__background{
      height: 879px;
   }
   .header__top{
      justify-content: flex-end;
      margin-right: 40px;
   }
   .header__top::before{
      height: 290px;
      width: 325px;
      left: -150px;
      top: -150px;
   }
   .header__logo{
      left: 40px;
   }
   .header__logo img{
      width: 64px;
      height: 64px;
   }
   .header__list {
      margin: 38px auto 129px;
      font-size: 13px;
   }
   .header__link + .header__link{
      margin-left: 40px;
   }
   .header__info{
      margin-left: 25px;
   }
   .header__title {
      font-size: 80px;
      line-height: 80px;
      width: 395px;
   }
   .header__subtitle {
      font-size: 20px;
      width: 335px;
      margin-bottom: 60px;
   }
   .header__social{
      display: inline;
      left: 80px;
      top: 743px;
   }
   .header__social a + a{
      margin-top: 0;
      margin-left: 30px;
   }
   .header__info .child{
      height: 415px;
      width: 341px;
      left: 405px;
      top: 290px;
   }
   .header__figure img:nth-child(1){
      width: 67px;
      height: 66px;
      left: 394px;
      top: 134px;
   }
   .header__figure img:nth-child(2){
      width: 55px;
      height: 53px;
      left: 708px;
      top: 285px;
   }
   .header__figure img:nth-child(3){
      display: none;
   }
   .header__figure img:nth-child(4){
      width: 65px;
      height: 63px;
      left: 727px;
      top: 568px;
   } */

   /* ----------------------- */
   /* advantages */
   /* ----------------------- */
}

@media (max-width: 375px){
   /* ----------------------- */
   /* header */
   /* ----------------------- */
   /* .header__background{
      height: 760px;
   }
   .header__top::before{
      height: 190px;
      width: 225px;
      left: -100px;
      top: -100px;
   }
   .header__logo{
      left: 15px;
      top: 9px;
   }
   .header__top{
      justify-content: center;
      margin-right: 0px;
   }
   .header__burger-btn{
      display: block;
      margin: 28px 0px 68px -30px;
   }
   .header__menu{
      display: none;
   }
   .header__info{
      margin-left: 0px;
   }
   .header__title {
      font-size: 56px;
      line-height: 56px;
      width: 274px;
      margin-bottom: 16px;
   }
   .header__subtitle {
      font-size: 16px;
      line-height: 22px;
      width: 305px;
      margin-bottom: 207px;
   }
   .header__button {
      position: relative;
      font-size: 15px;
      line-height: 18px;
      padding: 20px 8px 20px 36px;
      margin-left: 46px;
      z-index: 3;
   }
   .header__button img{
      width: 42px;
      height: 42px;
      transform: translateY(15px);
   }
   .header__social{
      display: inline;
      left: 244px;
      top: 24px;
      z-index: 10;
   }
   .header__social img {
      width: 25.49px;
      height: 28.09px;
   }
   .header__social a + a{
      margin-left: 17px;
   }
   .header__info .child{
   height: 353px;
   width: 291px;
   left: 65px;
   top: 373px;
   z-index: 2;
   } */

   /* ----------------------- */
   /* advantages */
   /* ----------------------- */
}