@font-face {
  font-family: 'LifehackzSans';
  src: url(../fonts/LifehackSans-Bold.woff2), url(../fonts/LifehackSans-Bold.woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'LifehackSans';
  src: url(../fonts/LifehackSans-Medium.woff2), url(../fonts/LifehackSans-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/Dosis-Regular.woff2), url(../fonts/Dosis-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/Dosis-Medium.woff2), url(../fonts/Dosis-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/Dosis-SemiBold.woff2), url(../fonts/Dosis-SemiBold.woff);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 400 20px/155% Dosis;
  background-color: #FBFDFF;
  color: #222A3F;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font: 500 120px/100% LifehackSans;
  text-transform: uppercase;
}

.subtitle {
  font: 400 24px/155% Dosis;
}

.header {
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.header__background {
  background-image: url(../img/header_bg.png);
  width: 100%;
  height: 1290px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 600 16px/120% Dosis;
  position: relative;
  z-index: 1;
}

.header__top::before {
  content: "";
  position: absolute;
  background-image: url(../img/header_logo-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 728.89px;
  height: 653px;
  left: -185px;
  top: -390px;
  z-index: -1;
}

.header__logo {
  position: absolute;
  left: 241px;
  top: 19px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 49px auto 215px;
}

.header__link + .header__link {
  margin-left: 104px;
}

.header__burger-btn {
  font-size: 16px;
  display: none;
}

.header__burger-btn img {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  margin-right: 16px;
}

.header__info .child {
  position: absolute;
  top: 177px;
  left: 1051px;
}

.header__title {
  width: 560px;
  margin-bottom: 40px;
}

.header__subtitle {
  font-size: 24px;
  line-height: 140%;
  width: 600px;
  margin-bottom: 100px;
}

.header__button {
  background: linear-gradient(92.57deg, #2F8FFF 0%, #2F73F6 100%);
  -webkit-box-shadow: 0px 10px 36px rgba(47, 230, 255, 0.2);
          box-shadow: 0px 10px 36px rgba(47, 230, 255, 0.2);
  border-radius: 40px;
  padding: 24px 9px 24px 52px;
}

.header__button img {
  margin-left: 32px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.header__social {
  position: absolute;
  left: 240px;
  top: 787px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.header__social a {
  opacity: 0.7;
}

.header__social a:hover {
  opacity: 1;
}

.header__social a + a {
  margin-top: 30px;
}

.header__figure img:nth-child(1) {
  position: absolute;
  left: 306px;
  top: 227px;
}

.header__figure img:nth-child(2) {
  position: absolute;
  left: 1758px;
  top: 194px;
}

.header__figure img:nth-child(3) {
  position: absolute;
  left: 505px;
  top: 1014px;
}

.header__figure img:nth-child(4) {
  position: absolute;
  left: 1660.28px;
  top: 768px;
}

.header {
  z-index: 100;
}

.header__burger {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: -100%;
  overflow: auto;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: linear-gradient(257.63deg, #342183 2.35%, #8228DC 98.49%);
}

.header__burger.active {
  top: 0%;
}

.header__burger-logo img {
  position: absolute;
  height: 64px;
  width: 64px;
  left: 16px;
  top: 9px;
}

.header__burger-logo::before {
  content: "";
  position: absolute;
  background-image: url(../img/header_logo-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 190px;
  width: 225px;
  left: -100px;
  top: -100px;
  z-index: -1;
}

.header__burger-list {
  position: absolute;
  text-align: center;
  top: 162px;
  left: 151px;
}

.header__burger-link + .header__burger-link {
  margin-top: 40px;
}

.header__burger-menu-btn {
  position: absolute;
  top: 28px;
  left: 137px;
  font: 600 16px/120% Dosis;
}

.header__burger-menu-btn img {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  margin-right: 16px;
}

.header__burger-close-btn {
  position: absolute;
  top: 304px;
  left: 333px;
}

.header__burger-social {
  position: absolute;
  left: 114px;
  top: 599px;
}

.header__burger-social a {
  opacity: 0.7;
}

.header__burger-social a:hover {
  opacity: 1;
}

.header__burger-social a img {
  width: 28px;
  height: 28px;
}

.header__burger-social a + a {
  margin-left: 32px;
}

.advantages {
  position: relative;
  z-index: 5;
}

.advantages__title {
  color: #2A2FA3;
  padding: 160px 0 40px;
  width: 420px;
}

.advantages__subtitle {
  width: 431px;
  margin-bottom: 228px;
}

.advantages__subtitle span {
  font-weight: 600;
}

.advantages__item {
  width: 286px;
  height: 286px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
          box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
  border-radius: 28px;
  padding: 32px 46px 30px;
  text-align: center;
  position: relative;
}

.advantages__item:nth-child(1) {
  position: absolute;
  top: 40px;
  left: 986px;
}

.advantages__item:nth-child(2) {
  position: absolute;
  top: 160px;
  left: 1334px;
}

.advantages__item:nth-child(3) {
  position: absolute;
  top: 406px;
  left: 888px;
}

.advantages__item:nth-child(4) {
  position: absolute;
  top: 526px;
  left: 1254px;
}

.advantages__item-icon {
  position: absolute;
  top: 18px;
  right: 18px;
  opacity: 0.8;
}

.advantages__item-icon:hover {
  opacity: 1;
}

.advantages__item-img {
  margin-bottom: 15px;
}

.advantages__item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.advantages__figure img:nth-child(1) {
  position: absolute;
  left: 1422.07px;
  top: -50px;
}

.advantages__figure img:nth-child(2) {
  position: absolute;
  left: 1108px;
  top: 855px;
}

.games {
  color: #ffffff;
  position: relative;
}

.games__bg {
  position: relative;
}

.games__bg::before {
  content: "";
  position: absolute;
  background-image: url(../img/games_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px;
  width: 100%;
  z-index: -1;
  top: -500px;
}

.games__title {
  margin-bottom: 40px;
}

.games__title span {
  font-size: 200px;
  line-height: 90%;
}

.games__subtitle {
  max-width: 503px;
  margin-bottom: 80px;
}

.games__btn {
  position: absolute;
  font: 600 20px/120% Dosis;
  text-transform: uppercase;
  color: #363078;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 8px 40px 24px 28px;
  left: 1264px;
  top: 285px;
}

.games__btn img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  margin-right: 20px;
}

.games__figure img:nth-child(1),
.games__figure img:nth-child(2),
.games__figure img:nth-child(3),
.games__figure img:nth-child(4),
.games__figure img:nth-child(5) {
  position: absolute;
  z-index: -1;
}

.games__figure img:nth-child(1) {
  top: -150px;
  left: 1788px;
}

.games__figure img:nth-child(2) {
  top: 88px;
  left: 1647px;
}

.games__figure img:nth-child(3) {
  top: 500px;
  left: 132px;
}

.games__figure img:nth-child(4) {
  top: 900px;
  left: -5px;
}

.games__figure img:nth-child(5) {
  top: 1100px;
  left: 1316px;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 665px;
}

.slider__items .slick-arrow {
  cursor: pointer;
  font-size: 0;
  background: #FFFFFF;
  border-radius: 32px;
  border: none;
  padding: 23px 45px 21px;
}

.slider__items .slick-prev,
.slider__items .slick-next {
  background-repeat: no-repeat;
  background-position: center;
  width: 33.19px;
  height: 16.6px;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  -webkit-filter: drop-shadow(0px 2px 14px rgba(61, 70, 118, 0.14));
          filter: drop-shadow(0px 2px 14px rgba(61, 70, 118, 0.14));
}

.slider__items .slick-prev {
  background-image: url(../img/games_arrow-prev.svg);
  left: 444px;
}

.slider__items .slick-next {
  background-image: url(../img/games_arrow-next.svg);
  left: 584px;
}

.slider__item {
  position: relative;
  margin-top: 20px;
}

.slider__item + .slider__item {
  margin-left: 150px;
}

.slider__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider__item.slick-center {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.slider__img {
  width: 260px;
  height: 346px;
}

.slider__rating {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #363078;
  border-radius: 14px;
  padding: 10px 18px 12px;
  font: 600 22px/100% Dosis;
  color: #ffffff;
}

.slider__genre {
  width: 340px;
  height: 312px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
          box-shadow: 0px 6px 20px rgba(61, 70, 118, 0.08);
  border-radius: 30px;
  color: #9594AA;
  padding-top: 241px;
  text-align: center;
  position: absolute;
  top: 133px;
  left: -40px;
  z-index: -1;
}

.slider__genre b {
  border: 2px solid #F2F4F9;
  border-radius: 10px;
  padding: 10px 20px;
}

.slider__genre b + b {
  margin-left: 12px;
}
