@font-face {
   font-family: 'LifehackzSans';
   src: url(../fonts/LifehackSans-Bold.woff2),
   url(../fonts/LifehackSans-Bold.woff);
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'LifehackSans';
   src: url(../fonts/LifehackSans-Medium.woff2),
   url(../fonts/LifehackSans-Medium.woff);
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'Dosis';
   src: url(../fonts/Dosis-Regular.woff2),
   url(../fonts/Dosis-Regular.woff);
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Dosis';
   src: url(../fonts/Dosis-Medium.woff2),
   url(../fonts/Dosis-Medium.woff);
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}

@font-face {
   font-family: 'Dosis';
   src: url(../fonts/Dosis-SemiBold.woff2),
   url(../fonts/Dosis-SemiBold.woff);
   font-style: normal;
   font-weight: 600;
   font-display: swap;
}