.games {
   color: #ffffff;
   position: relative;

   &__bg {
      position: absolute;
      top: -500px;
      z-index: -2;
      background-image: url(../img/games_bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 1700px;
      width: 100%;
   }

   &__title {
      margin-bottom: 40px;
      span{
         font-size: 200px;
         line-height: 90%;
      }
   }

   &__subtitle {
      max-width: 503px;
      margin-bottom: 80px;
   }

   &__btn{
      position: absolute;
      font: 600 20px/120% Dosis;
      text-transform: uppercase;
      color: #363078;
      background-color: #ffffff;
      border-radius: 40px;
      padding: 8px 40px 24px 28px;
      left: 1264px;
      top: 285px;
      img{
         transform: translateY(10px);
         margin-right: 20px;
      }
   }



   &__figure{
      img:nth-child(1),
      img:nth-child(2),
      img:nth-child(3),
      img:nth-child(4),
      img:nth-child(5){
         position: absolute;
         z-index: -1;
      }
      img:nth-child(1){
         top: -150px;
         left: 1788px;
      }
      img:nth-child(2){
         top: 88px;
         left: 1647px;
      }
      img:nth-child(3){
         top: 500px;
         left: 132px;
      }
      img:nth-child(4){
         top: 900px;
         left: -5px;
      }
      img:nth-child(5){
         top: 1100px;
         left: 1316px;
      }
   }
}

