.header {
   z-index: 100;
   overflow: auto;

   &__burger {
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 100;
      top: -100%;
      overflow: auto;
      transition: all 0.5s ease 0s;
      background: linear-gradient(257.63deg, #342183 2.35%, #8228DC 98.49%);
      &.active{
         top: 0%;
      }
   }
   &__burger-logo {
      img{
         position: absolute;
         height: 64px;
         width: 64px;
         left: 16px;
         top: 9px;
      }
      &::before{
         content: "";
         position: absolute;
         background-image: url(../img/header_logo-bg.svg);
         background-size: cover;
         background-repeat: no-repeat;
         height: 190px;
         width: 225px;
         left: -100px;
         top: -100px;
         z-index: -1;
      }
   }
   &__burger-list {
      position: absolute;
      text-align: center;
      top: 162px;
      left: 151px;
   }
   &__burger-link {
      & + .header__burger-link{
         margin-top: 40px;
      }
   }
   &__burger-menu-btn {
      position: absolute;
      top: 28px;
      left: 137px;
      font: 600 16px/120% Dosis;
      img{
         transform: translateY(-1px);
         margin-right: 16px;
      }
   }
   &__burger-close-btn {
      position: absolute;
      top: 304px;
      left: 333px;
      &.active{
      }
   }
   &__burger-social {
      position: absolute;
      left: 114px;
      top: 599px;
      a{
      opacity: 0.7;
         &:hover{
         opacity: 1;
         }
         img{
            width: 28px;
            height: 28px;
         }
      }
      a + a {
         margin-left: 32px;
      }
   }
}

