@import "_fonts";

*,
*::after,
*::before{
   box-sizing: border-box;
}

body{
   font: 400 20px/155% Dosis;
   background-color: #FBFDFF;
   color: #222A3F;
}

a{
   color: inherit;
   text-decoration: none;
}

.container{
   max-width: 1240px;
   margin: 0 auto;
   padding: 0 15px;
}

.title{
   font: 500 120px/100% LifehackSans;
   text-transform: uppercase;
}

.subtitle{
   font: 400 24px/155% Dosis;
}

@import "_header";

@import "_header-burger";

@import "_advantages";

@import "_games";

@import "_slider";